@media(min-width:1px){

    /*  INSCRIPCIÓN   */

    .inscription-title{
        justify-content: flex-start;
    }

    .inscription-title--image{
        width: 30%;
    }

    .inscription-title svg{
        width: 86px;
        height: 37px;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        padding-left: 0;
        padding-right: 47px;
    }

    .inscription-title--title{
        width: 51%;
    }

    .inscription-title--title h1{
     font-size: 20px;
    }
    /*FECHA DE INSCRIPCION*/

    .inscription-date-time__date time{
        display: block;
        width: 200%;
        font-size: 15px;
    }

    .inscription-date-time__date hgroup{
    display: block;
    width: 200%;
    font-size: 10px;
}
    .insciption-date-time__announcement h6{
        font-size: 8px;
    }


    /*TERMINOS Y CONDICIONES*/

    .inscription-conditions--card{
        padding: 0 16px;
    }

    .inscription-conditions--card hgroup{
    font-size: 14px;
}
    .inscription-conditions-form{
     font-size: 11px;
    }

    /*  FINALIZACION  */

    .inscription-final{
        margin-top: 91px;
    }

    .input-wrapper{
        width: 268px;
        height: 33px;
    }

    .input{
        font-size: 13px;
    }

    .Subscribe-btn{
        width: 118px;
        font-size: 12px;
    }

    .final-inscription--btn button{
        width: 290px;
    }


}



@media(min-width:341px){
    /*  FECHA DE INSCRIPCION  */

    .inscription-date-time__date time {
        font-size: 14px;
    }

    /* TÉRMINOS Y CONDICIONES */

    .inscription-conditions-form{
        font-size: 12px;
    }


    /* FINALIZACION  */
    .Subscribe-btn{
        width: 98px;
        height: 112%;
    }

}


@media(min-width:360px){

    .inscription-title--image{
        width: 28%;
    }

    .inscription-title svg{
        width: initial;
        height: initial
    }

    .inscription-title--title h1{
        font-size: 26px;
    }
}


@media (min-width: 375px){

    /* INSCRIPCION */

  .inscription-title--title h1{
      font-size: 26px;
  }

    /* FECHA DE INSCRIPCIÓN  */
    .inscription-date-time__date time{
        font-size: 18px;
    }

    .inscription-date-time__date hgroup{
        font-size: 12px;
    }

    .insciption-date-time__announcement h6{
        font-size: 9px;
    }

    .inscription-date--time__totalPrice{
        font-size: 19px;
    }

/*  TÉRMINOS Y CONDICIONES  */

    .inscription-conditions--card hgroup{
        font-size: 15px;
    }

    .inscription-conditions-form{
        font-size: 13px;
    }

    /* FINALIZACION  */

    .input-wrapper{
    width: 299px;
    }

    .Subscribe-btn{
        width: 115px;
    }

    .final-inscription--btn button{
        width: 317px;
    }

}

@media(min-width: 425px){

    /*  INSCRIPCION    */

    .inscription-title svg{
        width: initial;
        height: initial;
        padding-right: 66px;
    }

    .inscription-title--title h1{
        font-size: 32px;
    }

    /*  FECHA DE INSCRIPCION */

    .inscription-date-time__date time{
        font-size: 21px;
    }

    .inscription-date-time__date hgroup{
        font-size: 13px;
    }

    .inscription-date--time__price data{
        font-size: 18px;
    }

    .insciption-date-time__announcement h6{
     font-size: 10px;
    }

    .inscription-date--time__totalPrice{
        font-size: 20px;
    }


    /* TERMINAS Y CONDICIONES  */

    .inscription-conditions--card hgroup{
        font-size: 16px;
    }

    .inscription-conditions-form{
        font-size: 14px;
    }

    /*  FINALIZACION   */

    .input{
        font-size: 13.5px;
    }

}

@media(min-width: 501px){

    .inscription-title--image{
        width: 26%;
    }

}

@media(min-width: 502px){

    .inscription-title svg{
        width: 130px;
    }

}

@media(min-width:1024px){

    /*  INSCRIPCION  */

    .inscription-title--title h1{
        font-size: 39px;
    }


    /*FECHA DE INSCRIPCION*/

    .inscription-date--cardContent{
        width: 512px;
    }


    .inscription-title--image{
        width: 24%;
    }

    .inscription-date-time__date time{
        font-size: 22px;
    }

    .inscription-date-time__date hgroup{
        font-size: 15px;
    }

    .inscription-date--time__price data{
        font-size: 20px;
    }

    .insciption-date-time__announcement h6{
        font-size: 13px;
    }
    .inscription-date--time__totalPrice{
        font-size: 20px;
    }


}